.Table-text {
    font-size: 20px;
    font-weight: 500;
}

.Top {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}

.TableWraper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.Table {
    flex: 1;
}

.SelectedTable {
    flex: 1;
    min-width: 300px;
}