

.navbar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    color: white;
    padding-top: 10px;
}

.dark {
    color: black;
    background-color: rgb(241, 241, 241);
}

.navbar_inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.navbar_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}

.navbar_links {
    display: flex;
    gap: 2rem;
}


.main_logo {
    width: 4rem;
    height: 3rem;
    cursor: pointer;
    
}

.logout_button {
    background-color: #ff4d4d; /* Example color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout_button:hover {
    background-color: #e60000; /* Darker shade on hover */
  }