.c-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    gap: 1rem; 
    flex-wrap: wrap;
    padding-top: 30px;
}

.c-container>img {
    width: 9rem;
    height: auto;
}
